.home-weather-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#massege{
    margin: 10px 0 0 0;
    color: red;
}
/* .home-weather-search{
    margin: 20px 0 20px 0;
} */